/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: #347bff;
$border-color: #cccccc;
$active-button-shadow-color: rgba(0, 123, 255, 0.7);
$text-color: #212529;
